<configuration>  
  <system.webServer>
    <handlers>
            <add name="company" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\FlaskApp\env\Scripts\python.exe|C:\FlaskApp\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\FlaskApp\env\Scripts\python.exe|C:\FlaskApp\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="company.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\FlaskApp" />
	<add key="WSGI_LOG" value="C:\FlaskApp\app.log" />
  </appSettings>
</configuration>  